<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Add Task</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<style>
.bold-text * {
	font-weight: bold;
}
</style>
</head>
<body>
	<div class="container mt-5 bold-text">
        <!-- Add enctype attribute for file upload -->
        <form th:action="@{/saveTask}" th:object="${task}" method="post" enctype="multipart/form-data" class="form-group">

			<!-- Address Field -->
			<div class="form-group" sec:authorize="hasAuthority('ADMIN')">
				<label for="address" class="form-label">Address</label> <select
					id="address" class="form-control" th:field="*{address.addressid}">
					<option th:each="address : ${addresses}"
						th:value="${address.addressid}" th:text="${address.name}">
					</option>
				</select>
			</div>

			<!-- Employee Field -->
			<div class="form-group" sec:authorize="hasAuthority('ADMIN')">
				<label for="employee" class="form-label">Employee</label> <select
					id="employee" class="form-control"
					th:field="*{employee.employeeid}">
					<option th:each="employee : ${employees}"
						th:value="${employee.employeeid}" th:text="${employee.name}">
					</option>
				</select>
			</div>

			<!-- Task Field for Admin -->
			<div class="mb-3" sec:authorize="hasAuthority('ADMIN')">
				<label for="request" class="form-label">Task</label> <input
					type="text" id="request" class="form-control" th:field="*{request}"
					required />
			</div>

			<!-- Posted Date Field for Admin -->
			<div class="mb-3" sec:authorize="hasAuthority('ADMIN')">
				<label for="postedDate" class="form-label">Posted Date</label> <input
					type="datetime-local" id="postedDate" class="form-control"
					th:value="${#temporals.format(task.postedDate, 'yyyy-MM-dd''T''HH:mm')}"
					name="postedDate" th:field="*{postedDate}" />
			</div>

			<!-- Deadline Field for Admin -->
			<div class="mb-3" sec:authorize="hasAuthority('ADMIN')">
				<label for="deadline" class="form-label">Deadline</label> <input
					type="datetime-local" id="deadline" class="form-control"
					th:value="${#temporals.format(task.deadline, 'yyyy-MM-dd''T''HH:mm')}"
					name="deadline" th:field="*{deadline}" />
			</div>


			<!-- Status Dropdown for User -->
			<div class="form-group" sec:authorize="hasAuthority('ADMIN')">
				<label for="status" class="form-label">Status</label> <select
					id="status" class="form-control" th:field="*{status.statusid}">
					<option th:each="status : ${statuses}"
						th:value="${status.statusid}" th:text="${status.name}"></option>
				</select>
			</div>

			<!-- Approval Dropdown for User -->
			<div class="form-group" sec:authorize="hasAuthority('ADMIN')">
				<label for="approval" class="form-label">Status</label> <select
					id="approval" class="form-control"
					th:field="*{approval.approvalid}">
					<option th:each="approval : ${approvals}"
						th:value="${approval.approvalid}" th:text="${approval.name}"></option>
				</select>
			</div>

			<!-- File Upload Field -->
			<div class="form-group">
				<label for="file">File</label> <input type="file" id="file"
					name="file" class="form-control">
			</div>

			<!-- Submit Button -->
			<div class="form-group">
				<input type="submit" value="Save Task"
					class="btn btn-success rounded-pill">
			</div>

		</form>
	</div>
</body>
</html>
